version: '3.1'

services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
      - ./db/mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: root
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    restart: always
    # tty: true
    command: rails s -p 3000 -b '0.0.0.0'
    volumes:
      - ./backend:/backend
    ports:
      - "3000:3000"
    links:
      - db