
body {
  font-size: 12px;
}

.title {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 32px;
}

.count {
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.product_list {
  display: flex;
  flex-wrap: wrap;
}

.product_list > a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  width: 25%;
  height: 120px;
}

.product {
  margin: 8px;
}

.select_conpany {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .title {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 32px;
  }

  .count {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .product_list {
    display: flex;
    flex-wrap: wrap;
  }

  .product_list > a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    width: 50%;
    height: 120px;
  }

  .product {
    margin: 8px;
  }

  .select_conpany {
    font-size: 16px;
  }
}